<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Admin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>Office Virtual Tour<span>.</span></h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="index.html">Image</a></li>
                    <li><a href="scene.html">Scene</a></li>
                </ul>
            </nav><!-- .navbar -->

            <a class="btn-book-a-table" href="#book-a-table">Contact Admin</a>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <br /><br />
    <main id="main">

        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h3>Scenes</h3>
                    <!-- <p>Book <span>Your Stay</span> With Us</p> -->
                    <br /><br />
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-scene" type="button" role="tab" aria-controls="nav-scene"
                            aria-selected="true">Add Scene</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-scene-info" type="button" role="tab" aria-controls="nav-profile"
                            aria-selected="false">Add Scene Info</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-scene-arrow"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Add Scene
                            Arrow</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-scene" role="tabpanel"
                        aria-labelledby="nav-scene-tab">
                        <div class="panel-container"><br />
                            <form style="width:50%" id="sceneDetailsForm">
                                <div class="form-group">
                                    <label for="selectedImage">Image</label>
                                    <select class="form-control" id="selectedImage" required>
                                        <option value="">-- Select an option --</option>
                                    </select>
                                    <span id="hiddenImageId" style="display: none;"></span>
                                </div><br />
                                <div class="form-group">
                                    <label for="selectedMinimap">Minimap</label>
                                    <select class="form-control" id="selectedMinimap" required>
                                        <option value="">-- Select an option --</option>
                                    </select>
                                    <span id="hiddenMinimapId" style="display: none;"></span>
                                </div><br />
                                <div class="form-group">
                                    <label for="txtSceneName">Scene Name</label>
                                    <input class="form-control" type="text" id="txtSceneName" name="txtSceneName"
                                        placeholder="Enter Scene Name" required />
                                </div><br />
                                <div class="form-group">
                                    <label for="txtSceneDesc">Scene Description</label>
                                    <input class="form-control" type="text" id="txtSceneDesc" name="txtSceneDesc"
                                        placeholder="Enter Scene Description" required />
                                </div><br />
                                <div class="form-group">
                                    <label for="txtYaw">YAW</label>
                                    <input class="form-control" type="text" id="txtYaw" placeholder="Enter coordinates"
                                        name="txtYaw" required />
                                </div><br />
                                <div class="form-group">
                                    <label for="txtPitch">Pitch</label>
                                    <input class="form-control" type="text" id="txtPitch"
                                        placeholder="Enter coordinates" required />
                                </div><br />
                                <div class="form-group">
                                    <label for="txtFov">Field Of View</label>
                                    <input class="form-control" type="text" id="txtFov" placeholder="Enter coordinates"
                                        name="txtFov" required />
                                </div><br />
                                <div class="form-group" id="imagePreviewContainer">
                                    <br />
                                    <label for="imgPreview">Image Preview</label>
                                    <img id="imgPreview" class="img100" src="assets/img/placeholder.png" />
                                    <br />
                                </div>
                                <div class="form-group" id="miniMapPreviewContainer">
                                    <br /><br />
                                    <label for="miniMapPreview">Minimap Preview</label>
                                    <img id="miniMapPreview" class="img100" src="assets/img/placeholder.png" />
                                    <br />
                                </div>
                                <button type="button" class="btn btn-success" id="btnSubmit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-scene-info" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!--Info content goes here-->
                        <form><br />
                            <div class="form-group">
                                <label for="sceneInfoSelectedScene">Scene</label>
                                <select class="form-control" id="sceneInfoSelectedScene" required>
                                    <option value="">-- Select an option --</option>
                                </select>
                                <span id="hiddenImageId" style="display: none;"></span>
                            </div><br />
                            <div class="form-group">
                                <label for="sceneInfoSelectedScene">Image Id</label>
                                <select class="form-control" id="sceneInfoSelectedImage" required>
                                    <option value="">-- Select an option --</option>
                                </select>
                                <span id="hiddenImageId" style="display: none;"></span>
                            </div><br />
                            <div class="form-group">
                                <label for="txtSceneInfoName">Scene Info Name</label>
                                <input class="form-control" type="text" id="txtSceneInfoName" name="txtSceneInfoName"
                                    placeholder="Enter Scene Info Name" required />
                            </div><br />

                            <div class="form-group">
                                <label for="txtSceneInfoDesc">Scene Info Description</label>
                                <input class="form-control" type="text" id="txtSceneInfoDesc" name="txtSceneInfoDesc"
                                    placeholder="Enter Scene Info Description" required />
                            </div><br />
                            <div class="form-group">
                                <label for="txtInfoYaw">YAW</label>
                                <input class="form-control" type="text" id="txtInfoYaw" placeholder="Enter coordinates"
                                    name="txtInfoYaw" required />
                            </div><br />
                            <div class="form-group">
                                <label for="txtInfoPitch">Pitch</label>
                                <input class="form-control" type="text" id="txtInfoPitch"
                                    placeholder="Enter coordinates" required />
                            </div><br />
                            <button type="button" class="btn btn-success" id="btnSceneInfoSubmit">Submit</button>
                        </form>
                    </div>
                    <!--end-->
                    <div class="tab-pane fade" id="nav-scene-arrow" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <form><br />
                            <div class="form-group">
                                <label for="sceneArrowSelectScene">Scene</label>
                                <select class="form-control" id="sceneArrowSelectScene" required>
                                    <option value="">-- Select an option --</option>
                                </select>
                            </div><br />
                            <div class="form-group">
                                <label for="txtArrowName">Arrow Name</label>
                                <input class="form-control" type="text" id="txtArrowName" name="txtArrowName"
                                    placeholder="Enter Arrow Name" required />
                            </div><br />

                            <div class="form-group">
                                <label for="sceneArrowSelectNextScene">Next Scene</label>
                                <select class="form-control" id="sceneArrowSelectNextScene" required>
                                    <option value="">-- Select an option --</option>
                                </select>
                            </div><br />

                            <div class="form-group">
                                <label for="txtArrowYaw">YAW</label>
                                <input class="form-control" type="text" id="txtArrowYaw" placeholder="Enter coordinates"
                                    name="txtInfoYaw" required />
                            </div><br />

                            <div class="form-group">
                                <label for="txtArrowPitch">Pitch</label>
                                <input class="form-control" type="text" id="txtArrowPitch"
                                    placeholder="Enter coordinates" required />
                            </div><br />

                            <div class="form-group">
                                <label for="txtArrowOffsetYaw">Offset YAW</label>
                                <input class="form-control" type="text" id="txtArrowOffsetYaw" placeholder="Enter coordinates"
                                    name="txtInfoYaw" required />
                            </div><br />

                            <div class="form-group">
                                <label for="txtArrowOffsetPitch">Offset Pitch</label>
                                <input class="form-control" type="text" id="txtArrowOffsetPitch"
                                    placeholder="Enter coordinates" required />
                            </div><br />

                            <div class="form-group">
                                <label for="txtArrowOffsetFov">Offset Field of view</label>
                                <input class="form-control" type="text" id="txtArrowOffsetFov"
                                    placeholder="Enter coordinates" required />
                            </div><br />

                            <button type="button" class="btn btn-success" id="btnSceneArrowSubmit">Submit</button>
                        </form>
                    </div>

                </div>
        </section><!-- End Book A Table Section -->
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div>
                        <h4>Address</h4>
                        <p>
                            Ebene<br>
                            Mauritius<br>
                        </p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Reservations</h4>
                        <p>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>Opening Hours</h4>
                        <p>
                            <strong>Mon-Sat: 11AM</strong> - 23PM<br>
                            Sunday: Closed
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Office Virtual Tour</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by Office Virtual Tour
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/scene.js"></script>
</body>

</html>